<div class="form-group">
    <div class="dangerousGoods">
        <span class="leftCol">
            {{ form_label(childForm.yes) }}
        </span>
        <span class="rightCol">
            {{ form_widget(childForm.yes) }}
        </span>


    <span class="leftCol">
        {{ form_label(childForm.no) }}
    </span>
    <span class="rightCol">
        {{ form_widget(childForm.no) }}
    </span>
    </div>
</div>
